/* * {
    outline: 1px dotted red;
} */

/* Header */
/* -------------------------------------- */
.header{
    color:whitesmoke;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 400px;
}

.nav-items {
    display: flex;
    padding: 75px 0px 20px 0px;
    gap: 10%;
    justify-content: end;
    list-style-type: none;
}

.nav-items a {
    color: whitesmoke;
    text-decoration:none;
    
}

.nav-items a:hover {
    color: rgb(144, 115, 115);
    
}

.nav-items a:active {
    color: rgb(144, 115, 115);
    
}


/* Main Content */
/* ---------------------------------------------- */
.FeaturedSteak{
    display: flex;
    width: 696px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Cards */
/* ---------------------------------------------- */
.card{
    width: 200px;
}

#steakGroup1{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
#steakGroup2{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.btn {
    text-align: center;
}